.product-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-container > div {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .product-container input {
    width: 100px;
  }
  
  button {
    margin-top: 10px;
  }
  