.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/img/background2.jpg);
  background-size: cover;
  height: 100vh;
}

form {
  display: flex;
  color: #FFF;
  border: 2px solid;
  border-color: #EA1D2C;
  background-color: rgba(209, 209, 209, 0.308);
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-top:10px;
  border: 1px solid #EA1D2C;
  border-radius: 5px;
  width: 100%;
}

input[type='text'] {
  padding: 10px;
  margin-top:10px;
  border-radius: 5px;
  width: 100%;
}

input[type='email'] {
  padding: 10px;
  margin-top:10px;
  border: 1px solid #EA1D2C;
  border-radius: 5px;
  width: 100%;
}

input[type='password'] {
  padding: 10px;
  margin-top:10px;
  border: 1px solid #EA1D2C;
  border-radius: 5px;
  width: 100%;
}

button[type='cancel'] {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 16px;
  background-color: #FFF;
  color: #EA1D2C;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #EA1D2C;
  color: white;
}

button[type='submit'] {
  background-color: #EA1D2C;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #FFF;
  border-color: #EA1D2C;
  color: #EA1D2C;
}

/* Estilos responsivos */
@media screen and (max-width: 500px) {
  /* Reduzir a largura dos inputs para telas menores */
  input {
    width: 100%;
  }

  /* Centralizar os botões */
  button {
    margin-left: auto;
    margin-right: auto;
  }
}