body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.labelTema {
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-left: 5px;
  position: absolute;
  height: 3.3vh;
  width: 50px;
  transform: scale(1.5);
  position: absolute;
  top: 95px;
  right: 0px;
  transform: translate(-25%, -25%);

}

i {
  margin: 1px;
}


.labelTema .ball {
  background-color: #011433;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 2.8vh;
  width: 2.8vh;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.ball {
  color: #EA1D2C;
}

.light-mode .labelTema {
  background-color: #012053;
}

.light-mode .ball {
  background-color: #FFF;
}
.checkbox:checked+.labelTema .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.light-mode {
  background-image: none;
  background-color: whitesmoke;
}

.light-mode button {
  background-color: #EA1D2C;
  color: #FFF;
}

.light-mode h3 {
  color: black;
}

.light-mode h4 {
  color: black;
}

.light-mode h2 {
  color: #EA1D2C;
  font-weight: bold;
}

.light-mode p {
  color: black;
}

.light-mode label {
  color: black;
  font-weight: bold;
}

.light-mode span {
  color: black;

}